// list of z-indexes
$z-layers: (
  'object': 200
);

// Spacing
$sp-xs: 0.8rem;
$sp-sm: 1.3rem;
$sp-base: 1.8rem;
$sp-md: 2.8rem;
$sp-lg: 3.5rem;
$sp-xl: 6.4rem;

// columns
$col: 1/9 * 100vw;

// Easings
$ease-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out: cubic-bezier(1, 0, 0.25, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

// Durations
$d-fast: 0.125s;
$d-normal: 0.25s;
$d-slow: 0.5s;
$d-slower: 1s;
